html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.parent {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 70px auto;
}

.sidebar {
    grid-row: span 2;
    background-color: #1f2937;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 40px;
}

.sidebar .menu,
.submenu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar .menu li,
.submenu li {
    cursor: pointer;
    opacity: 0.8;
    padding: 10px 0;
}

.sidebar .menu li.active,
.sidebar .menu li:hover,
.submenu li:hover {
    opacity: 1;
    font-weight: bold;
}

.menu .dropdown-li {
    position: relative;
}

.submenu {
    padding-left: 20px;
    display: none;
}

.submenu li {
    padding: 8px 0;
}

.submenu.show {
    display: block;
}

.topbar {
    background-color: #03a9f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: white;
}

.top-title {
    font-size: 22px;
    font-weight: 600;
}

.top-actions {
    display: flex;
    align-items: center;
    gap: 30px;
}

.textstyle {
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.content {
    background: #f6f6f6;
    padding: 25px;
}
